<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Sphinx Eclipse 3.7" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201105210650"/>
<unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.apache.xml.resolver" version="1.2.0.v201005080400"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.2.M20120208-0800"/>
<unit id="org.eclipse.rcp.configuration.feature.group" version="1.0.0.M20120208-0800"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.5.1.v20111216-1653-7P7NFUIFIbaUcU77s0KQWHw5HZTZ"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.2.2.v20120214-0915"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.5.1.v20110823-1800-777T19A_WsXmjNatPxcrPm1rOKlH"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.5.0.v20110502-1600-67O-96SGR55YJeZPedcQnghI6uFA"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.2.v20120130-0943"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.5.0.v20110426-2159-47D08xGD6ExNBM7CIJa3CIKK9t84"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.8.2.v20120215-0845"/>
<unit id="org.eclipse.team.svn.feature.group" version="0.7.9.I20110819-1700"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="3.2.1.v201109082252"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.7.1.v20120130-0943"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.google.guava" version="10.0.1.v201203051515"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.2.1.v201206110920"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.2.1.v201206110941"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/milestones"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.gmf.sdk.feature.group" version="2.3.0.v20100508-1742-777B-95pDcLakRvph3PMwwfmjSTZ"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
</locations>
<environment>
<nl>en_EN</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms128m -Xmx512m -XX:PermSize=256M -XX:MaxPermSize=512M</vmArgs>
</launcherArgs>
</target>
