<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.sphinx.documentationview.contribution" name="DocumentationViewContribution" schema="schema/org.eclipse.sphinx.documentationview.contribution.exsd"/>
 
<extension
         point="org.eclipse.ui.views">
      <category
            name="Documentation"
            id="org.eclipse.sphinx.documentationview">
      </category>
      <view
            name="Sphinx Documentation View"
            icon="icons/sample.gif"
            category="org.eclipse.sphinx.documentationview"
            class="org.eclipse.sphinx.documentationview.DocumentationView"
            id="org.eclipse.sphinx.documentationview.DocumentationView">
      </view>
   </extension>

   

</plugin>
