<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.sphinx.platform.ui.handlers.ExtendedNewPropertySheetHandler"
            commandId="org.eclipse.ui.views.properties.NewPropertySheetCommand">
         <activeWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.search.ui.views.SearchView">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.sphinx.emf.check.ui.markersView">
                  </equals>
               </with>
            </or>
         </activeWhen>
     </handler>
   </extension>
   
   <extension-point id="documentationViewFormatters" name="%documentationViewFormatters.name" schema="schema/documentationViewFormatters.exsd"/>
 
	<extension
         point="org.eclipse.ui.views">
      <view
            name="Documentation"
            icon="icons/sample.gif"
            category="org.eclipse.ui"
            class="org.eclipse.sphinx.platform.ui.views.documentation.DocumentationView"
            id="org.eclipse.sphinx.platform.ui.views.documentation.DocumentationView">
      </view>
   </extension>
   
</plugin>
