.DS_Store
/.metadata
/docs/*/target
/examples/*/bin
/examples/*/target
/experimental/*/bin
/experimental/*/target
/features/*/target
/plugins/*/bin
/plugins/*/target
/releng/*/target
/tests/*/bin
/tests/*/target
/tools/*/bin