<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
<copyright>

Copyright (c) 2008-2010 See4sys and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.sphinx.examples.hummingbird20.typemodel.editor.TypeModel20ModelWizardID"
            name="%_UI_TypeModel20ModelWizard_label"
            class="org.eclipse.sphinx.examples.hummingbird20.typemodel.editor.TypeModel20ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypeModel20ModelFile.gif">
         <description>%_UI_TypeModel20ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.sphinx.examples.hummingbird20.instancemodel.editor.InstanceModel20ModelWizardID"
            name="%_UI_InstanceModel20ModelWizard_label"
            class="org.eclipse.sphinx.examples.hummingbird20.instancemodel.editor.InstanceModel20ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InstanceModel20ModelFile.gif">
         <description>%_UI_InstanceModel20ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="org.eclipse.sphinx.examples.hummingbird20.typemodel.editor.TypeModel20ModelWizardID">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.sphinx.examples.hummingbird20.instancemodel.editor.InstanceModel20ModelWizardID">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.sphinx.examples.common.ui.perspectives.sphinx">
         <newWizardShortcut
               id="org.eclipse.sphinx.examples.hummingbird20.typemodel.editor.TypeModel20ModelWizardID">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.sphinx.examples.hummingbird20.instancemodel.editor.InstanceModel20ModelWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
