/.ComponentTypesProcessor.java._trace
/.ComponentTypesQuerySpecification.java._trace
/.InterfacesProcessor.java._trace
/.InterfacesQuerySpecification.java._trace
/.ParametersProcessor.java._trace
/.ParametersQuerySpecification.java._trace
/.PlatformsProcessor.java._trace
/.PlatformsQuerySpecification.java._trace
/.PortsProcessor.java._trace
/.PortsQuerySpecification.java._trace
