<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
<copyright>

Copyright (c) 2008-2010 See4sys and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>

  <!-- Common navigator viewer content binding contribution for Hummingbird models -->

  <extension point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding viewerId="org.eclipse.sphinx.examples.explorer.views.modelExplorer">
      <includes>
        <contentExtension pattern="org.eclipse.sphinx.examples.hummingbird.ide.ui.navigatorContent.hummingbird" />
      </includes>
    </viewerContentBinding>
  </extension>
  
   <!-- Common navigator content contribution for Hummingbird models -->
  
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.eclipse.sphinx.examples.hummingbird.ide.ui.navigatorContent.hummingbird"
            name="%sphinx.examples.hummingbird.ide.ui.navigatorContent.hummingbird"
            activeByDefault="true"
            contentProvider="org.eclipse.sphinx.emf.explorer.BasicExplorerContentProvider"
            labelProvider="org.eclipse.sphinx.emf.explorer.BasicExplorerLabelProvider"
            priority="normal">
         <triggerPoints>
            <and>
               <instanceof value="org.eclipse.core.resources.IFile"/>
               <test
                     property="org.eclipse.sphinx.emf.isInScope"
                     value="true" />
               <test 
                     property="org.eclipse.sphinx.emf.metaModelIdMatches"
                     value="org\.eclipse\.sphinx\.examples\.hummingbird\d\d"/>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof value="org.eclipse.emf.ecore.EObject" />
               <test 
                     property="org.eclipse.sphinx.emf.classNameMatches"
                     value="org\.eclipse\.sphinx\.examples\.hummingbird\d\d\..*"/>
            </and>
         </possibleChildren>
         <dropAssistant 
               id="org.eclipse.sphinx.examples.hummingbird.ide.ui.navigatorContent.dropAssistant.hummingbird"
               class="org.eclipse.sphinx.emf.explorer.BasicDropAdapterAssistant">
            <possibleDropTargets>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
            </possibleDropTargets>
         </dropAssistant>      
      </navigatorContent>
   </extension>
   
   <!-- Form editor with tabbed property sheet contribution for Hummingbird models -->
   
   <extension
      point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.sphinx.emf.editors.forms.BasicTransactionalFormEditor"
            contributorClass="org.eclipse.sphinx.emf.editors.forms.BasicTransactionalEditorActionBarContributor"
            default="true"
            extensions="Application, org.eclipse.sphinx.examples.hummingbird20.common.Identifiable"
            icon="$nl$/icons/full/obj16/hbfile_obj.gif"
            id="org.eclipse.sphinx.examples.hummingbird.ide.ui.editors.hummingbird"
            name="%sphinx.examples.hummingbird.ide.ui.editors.hummingbird.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.sphinx.examples.hummingbird.ide.hummingbirdXMIFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor 
            contributorId="org.eclipse.sphinx.examples.hummingbird.ide.ui.editors.hummingbird"
            labelProvider="org.eclipse.sphinx.examples.common.ui.providers.AppearanceExampleTabbedPropertySheetTitleProvider">
         <propertyCategory category="advanced" />
      </propertyContributor>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs 
            contributorId="org.eclipse.sphinx.examples.hummingbird.ide.ui.editors.hummingbird">
         <propertyTab 
               label="%sphinx.examples.hummingbird.ide.ui.propertyTabs.advanced.label"
               category="advanced"
               id="org.eclipse.sphinx.examples.hummingbird.ide.ui.propertyTabs.advanced" />
      </propertyTabs>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections 
            contributorId="org.eclipse.sphinx.examples.hummingbird.ide.ui.editors.hummingbird">
         <propertySection 
               class="org.eclipse.sphinx.emf.ui.properties.BasicTransactionalAdvancedPropertySection"
               id="org.eclipse.sphinx.examples.hummingbird.ide.ui.propertySections.advanced"
               tab="org.eclipse.sphinx.examples.hummingbird.ide.ui.propertyTabs.advanced">
            <input type="java.lang.Object" />
         </propertySection>
      </propertySections>
   </extension>
  
   <!-- Overlay icon for projects with Hummingbird nature -->
   
  <extension point="org.eclipse.ui.ide.projectNatureImages">
    <image icon="$nl$/icons/full/ovr16/hummingbird_ovr.gif"
           id="org.eclipse.sphinx.examples.hummingbird.ide.ui.HummingbirdNatureImage"
           natureId="org.eclipse.sphinx.examples.hummingbird.ide.HummingbirdNature" />
  </extension>

   <!-- Label decorator indicating Hummingbird metamodel version supported by projects with Hummingbird nature -->

  <extension point="org.eclipse.ui.decorators">
    <decorator class="org.eclipse.sphinx.examples.hummingbird.ide.ui.decorators.HummingbirdProjectLabelDecorator"
               id="org.eclipse.sphinx.examples.hummingbird.ide.ui.decorators.hummingbirdProject"
               label="%sphinx.examples.hummingbird.ide.ui.decorators.hummingbirdProject.label"
               lightweight="true"
               state="true">
      <description>
      %sphinx.examples.hummingbird.ide.ui.decorators.hummingbirdProject.description</description>
      <enablement>
        <objectClass name="org.eclipse.core.resources.IProject" />
      </enablement>
    </decorator>
  </extension>
  
</plugin>
