<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.qvt.oml.javaBlackboxUnits">
      <unit
            name="GMFCodeGenUtil"
            namespace="gmf">
         <library
               class="org.eclipse.sphinx.gmfgen.util.GMFCodeGenUtil">
            <metamodel
                  nsURI="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
            </metamodel>
            <metamodel
                  nsURI="http://www.eclipse.org/emf/2002/Ecore">
            </metamodel>
            <metamodel
                  nsURI="http://www.eclipse.org/emf/2002/GenModel">
            </metamodel>
         </library>
      </unit>
   </extension>

</plugin>
