<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.4"?><!--
<copyright>

Copyright (c) 2014-2015 itemis and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    itemis - Initial API and implementation

</copyright>
--><plugin>
  <extension id="org.eclipse.sphinx.examples.hummingbird10.incquery.Hummingbird10" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.sphinx.examples.hummingbird10.incquery.Hummingbird10" id="org.eclipse.sphinx.examples.hummingbird10.incquery.Hummingbird10"/>
  </extension>
  <extension point="org.eclipse.sphinx.emf.metaModelServices">
    <service class="org.eclipse.sphinx.examples.hummingbird10.incquery.service.Hummingbird10ProxyResolverService" id="org.eclipse.sphinx.examples.hummingbird10.incquery.proxymanagement.service" type="org.eclipse.sphinx.emf.ecore.proxymanagement.IProxyResolverService">
      <applicableFor metaModelDescriptorIdPattern="org.eclipse.sphinx.examples.hummingbird10"/>
    </service>
  </extension>
</plugin>
