<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.sphinx.emf.splitting.advanced.ui.splitting">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerActionBinding
            viewerId="org.eclipse.sphinx.examples.explorer.views.modelExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.sphinx.emf.splitting.advanced.ui.splitting">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.sphinx.examples.hummingbird20.splitting.ui.actions.providers.Hummingbirg20ModelElementSplittingActionProvider"
            id="org.eclipse.sphinx.emf.splitting.advanced.ui.splitting">
         <enablement>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>

</plugin>
