<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
<copyright>

Copyright (c) 2008-2010 See4sys and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>
 <extension
      point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="%sphinx.examples.hummingbird20.diagram.graphiti.diagramTypes.hummingbird20.description"
      id="org.eclipse.sphinx.examples.hummingbird20.diagram.graphiti.diagramTypes.hummingbird20"
      name="%sphinx.examples.hummingbird20.diagram.graphiti.diagramTypes.hummingbird20.name"
      type="%sphinx.examples.hummingbird20.diagram.graphiti.diagramTypes.hummingbird20.type">
    </diagramType>
  </extension>

  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="org.eclipse.sphinx.examples.hummingbird20.diagram.graphiti.Hummingbird20DiagramTypeProvider"
      description="%sphinx.examples.hummingbird20.diagram.graphiti.diagramTypeProviders.hummingbird20.description"
      id="org.eclipse.sphinx.examples.hummingbird20.diagram.graphiti.diagramTypeProviders.hummingbird20"
      name="%sphinx.examples.hummingbird20.diagram.graphiti.diagramTypeProviders.hummingbird20.name">
      <diagramType
        id="org.eclipse.sphinx.examples.hummingbird20.diagram.graphiti.diagramTypes.hummingbird20">
      </diagramType>
    </diagramTypeProvider>
  </extension>
</plugin>
