<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
<copyright>

Copyright (c) 2008-2010 See4sys and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.sphinx.emf.compare.ui.actions.providers.BasicCompareActionProvider"
            id="org.eclipse.sphinx.emf.compare.ui.basicCompareActions">
         <enablement>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.sphinx.emf.compare.ui.editor.ModelCompareEditor"
            contributorClass="org.eclipse.sphinx.emf.compare.ui.editor.ModelCompareActionBarContributor"
            icon="$nl$/icons/full/eview16/compare_view.gif"
            id="org.eclipse.sphinx.emf.compare.ui.editors.modelCompareEditor"
            name="%sphinx.emf.compare.ui.editors.modelCompareEditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.eclipse.sphinx.emf.compare.ui.viewer.content.ModelElementContentMergeViewerCreator"
            extensions="*"
            id="org.eclipse.sphinx.emf.compare.ui.viewer.content.modelElementContentMergeViewer">
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.sphinx.emf.compare.ui.eclipse34FileContributions"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.sphinx.emf.compare.ui.actions.FileCompareAction"
               enablesFor="2+"
               id="org.eclipse.sphinx.emf.compare.ui.actions.compareWithEachOther"
               label="%sphinx.emf.compare.ui.actions.compareWithEachOther.label"
               menubarPath="compareWithMenu/compareWithGroup"
               overrideActionId="compareWithEachOther"
               tooltip="%sphinx.emf.compare.ui.actions.compareWithEachOther.tooltip">
         </action>
         <visibility>
            <systemProperty
                  name="org.eclipse.platform.featureReleaseName"
                  value="3.4">
            </systemProperty>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.sphinx.emf.compare.ui.eclipse35orLaterFileContributions"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.sphinx.emf.compare.ui.actions.FileCompareAction"
               enablesFor="2+"
               id="org.eclipse.sphinx.emf.compare.ui.actions.compareWithEachOther"
               label="%sphinx.emf.compare.ui.actions.compareWithEachOther.label"
               menubarPath="compareWithMenu/compareWithGroup"
               overrideActionId="org.eclipse.team.ui.compareWithEachOther"
               tooltip="%sphinx.emf.compare.ui.actions.compareWithEachOther.tooltip">
         </action>
         <visibility>
            <not>
               <systemProperty
                     name="org.eclipse.platform.featureReleaseName"
                     value="3.4">
               </systemProperty>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.sphinx.emf.compare.ui.fileContributions"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="mergeWithMenu"
               label="%sphinx.emf.compare.ui.menus.mergeWith.label"
               path="additions">
            <separator
                  name="mergeWithGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.sphinx.emf.compare.ui.actions.FileMergeAction"
               enablesFor="2"
               id="org.eclipse.sphinx.emf.compare.ui.actions.mergeWithEachOther"
               label="%sphinx.emf.compare.ui.actions.mergeWithEachOther.label"
               menubarPath="mergeWithMenu/mergeWithGroup"
               tooltip="%sphinx.emf.compare.ui.actions.mergeWithEachOther.tooltip">
         </action>
      </objectContribution>
   </extension>
</plugin>
